# Loopback boot (e.g. Ventoy / grml-style ISO loop-mounting).
menuentry "Install Foundation TerminalOS (x86_64, loopback)" --class arch {
    set gfxpayload=text
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=$imgdevpath img_loop=$iso_path
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
}
